/*
	Main variables of this component library.

	Client applications are able to override these SASS variables.

	It is of course also possible to just use the generated CSS directly
*/

/* ---- Spacing variables ---- */

$default-margin: 10px !default;
$border-radius: 2px;//$border-radius-base; /* applying bootstrap variable */

/* ---- Modal ---- */

$modal-backdrop-bg: transparant; /* overriding bootstrap variable */

/* ---- Global colors (hopefully with useful semantic designations) ---- */

$highlight-color: #f26c50 !default;
$subdued-color: #888 !default;
$fill-color: #468dcb !default;
$dark-text: #333 !default;



/* Media Suite specific */

$clDark: #2d343a;
$clDarkGrey: #9e9290;
$clMediumGrey: #e3d1ce;
$clGreyTint: #eee3e1;
$clGrey: #faf6f6;
$clWhite: #ffffff;

$clBlue: #468dcb;
$clOrange: #f26c50;
$clLightBlue: #9fbdd7;

$clPrimary: $clBlue;
$clPrimaryAlt: $clLightBlue;
$clSecondary: $clOrange;
$clInfoDefault: mix($clMediumGrey, $clDark, 70%);

/* Font */

$fontHeading: 'Maven Pro', sans-serif;
$fontBody: 'Open Sans', sans-serif;

/* Animation */

$transition: 0.2s ease-out;

/* Media Queries */

$break-small: 940px;

/* Page */

$maxPageWidth: 1200px;
$maxTextBodyWidth: 800px;
$contentPadding: 40px;

/* Reflection */
$clReflection: #9b51e0;