.bg__annotation-table{
  @import '../_resultTop.scss';

  .type-list{
    margin-top: 10px;
    border-top: 2px solid $clGreyTint;
  }

  @import '../_modal.scss';

  &.loading{
    .bg__nested-table{
      opacity: 0.5;
    }
  }

  .type{
    font-weight: bold;
  }
}