.bg__project-view-wrapper{

  @import '../infoBar.scss';

  .info-bar{
    h2, p{
      max-width: 800px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .submenu{
    border-bottom: 1px solid $clGreyTint;
    margin-bottom: 20px;
    padding-left: 20px;

    a{
      font-size: 15px;
      font-family: $fontHeading;
      color: $clDark;
      padding: 10px 20px;
      display: inline-block;
      border-bottom: 3px solid white;
      margin-right: 1px;
      &:hover{
        background-color: $clGrey;
        border-bottom-color: $clDarkGrey;
        text-decoration: none;
      }

      &.active, &.active:hover{
        border-bottom-color: $clSecondary;
        background-color: $clGrey;
      }

      @import '../_count.scss';
    }
  }


}