@import '../../../styles/images';
@import '../../../styles/variables';

.bg__bookmark-row.item-row{
  .item{
    .image{
      flex-basis: 132px;
      height: 88px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex-shrink: 0;
      cursor: pointer;
      background-color: $clGrey;
      display: flex;
      align-items: center;
      justify-content: center;
      
      span{
        font-size: 1.8rem;
        opacity: 0.15;
        border:0;
      }
    }

    .info {
      flex-wrap: wrap;
      li{
        &.primary p{
          cursor: pointer;
          margin:0;

          &:hover{
            text-decoration: underline;
          }
        }

        &.content-date{
          min-width: 120px;
          max-width: 120px;
        }

        &.content-media{
          min-width: 120px;
          max-width: 120px;
          p > span {
            border: 0;
          }
        }
      }
    }

    .actions {

      @import '../../../styles/rowMenu';

      .sublevel-button-container .sublevel-button{
        padding-left: 15px;
        border-left: 1px solid rgba(0,0,0,0.3);
        
        &.facet{
          padding-left: 0;
          border-left: 0;
        }

        .icon.annotation{
          width: 28px;
          background-size: 28px;
          background-image: $iconAnnotationUrl;
        }

        .icon.segment{
          margin-right: 3px;
          width: 20px;
          background-size: 20px;
          background-image: $iconSegmentUrl;
        }
      }
    }
  }

  .sublevel{
    table{
      width: 100%;
      tr{
          .time{
            width: 20%;
          }
          .type{
            width: 20%;
            a{
              color: black;
            }
          }
          .details{
            width: 30%;
          }

          td{
            vertical-align: top;
            &.time{
              font-weight: bold;
              .go-to-segment-link {
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }

              }
            }
            table{
              tr{
                &:first-child{
                  td{
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}