@import '../../../styles/_images';
@import '../../../styles/_variables';

.bg__project-table{

  @import '../../../styles/_tools';
  @import '../../../styles/_modal';

  .error{
    padding:10px;
  }

  table{
    .description{
      p{
        margin:0;
      }
      a{
        text-decoration: none;
        color: mix($clDark, $clDarkGrey);
      }
      max-width: 270px;
      white-space: normal;
    }

    .bookmark-icon{
      background-image: $iconBookmarkWhiteUrl;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 15px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }

    .collaborators{
      display: block;
      color: $clPrimaryAlt;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $fontHeading;
    }

    .access{
      text-transform: uppercase;
    }

    .actions{
      @import '../../../styles/rowMenu';
      width: 130px;
      .btn{
        padding-left: 15px;
        padding-right: 35px;
      }
    }
  }
}