.bg__project-details-view{

  h2{
    margin: 40px 0;
  }

  .btn{
    float: right;
    margin-top: -60px;
  }

  ul.details{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li{
      padding-right: 10px;
      padding-bottom: 10px;
      min-width: 150px;
      max-width: 600px;
    }
  }
}