@import '../../../styles/variables';

.bg__annotation-table{
  @import '../../../styles/resultTop';

  .type-list{
    margin-top: 10px;
    border-top: 2px solid $clGreyTint;
  }

  @import '../../../styles/modal';

  &.loading{
    .bg__nested-table{
      opacity: 0.5;
    }
  }

  .type{
    font-weight: bold;
  }
}