.count{
    display: inline-block;
    font-family: $fontHeading;
    float: right;
    margin-left: 15px;
    background-color: $clSecondary;
    color: $clWhite;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 4px 3px 4px;
    line-height: 13px;
    min-width: 18px;
    text-align: center;
    margin-top: 1px;
}