.bg__project-list {
    display: inline-block;
    position: relative;
    margin-bottom: 0;

    > .select {
        margin-right: 20px;
        background: $clSecondary;
        font-size: $fontHeading;
        color: white;
        border-radius: 2px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 0.96em;
        height: 35px;
        line-height: 35px;
        padding: 0 15px 0 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .active-project {
        margin-right: 55px;
        
        > .title {
            position: relative;
            font-family: $fontHeading;
            font-weight: normal;
            display: inline-block;
            padding: 0px 30px 0 4px;
            line-height: 41px;
            background-color: white;
            cursor: pointer;
            white-space: nowrap;
            border-bottom: 2px solid $clSecondary;
            &.with-icon { /* only added when projectIcon === true */
                padding: 0px 30px 0 35px;
                background-image: $iconProjectUrl;
                background-repeat: no-repeat;
                background-position: 7px center;
                background-size: 17px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 10px;
                transform: rotate(45deg);
                width: 8px;
                height: 8px;
                border-bottom: 2px solid $clDarkGrey;
                border-right: 2px solid $clDarkGrey;
            }

            &:hover {
                background-color: $clGrey;
            }
        }

        & > a {
            cursor: pointer;
            float: right;
            font-size: 0;
            color: white;
            border-radius: 2px;
            min-width: 30px;
            height: 28px;
            vertical-align: top;
            background-image: $iconLinkUrl;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 0;
            margin-top: 6px;
            transition: opacity $transition;
            background-size: 18px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }

    .bg__prl__checkbox {
        display: none;
    }

    .bg__prl__checkbox + .bg__prl__menu {
        display: none;
    }

    .bg__prl__checkbox:hover + .bg__prl__menu {
        display: block;
        z-index: 9999;
    }

    .bg__prl__menu {
        position: absolute;
        top: 100%;
        border: 1px solid $clGreyTint;
        border-radius: 4px;
        padding: 0;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        list-style-type: none;
        right: 0;
        min-width: 360px;
        max-height: 360px;
        overflow: hidden;
        overflow-y: auto;

        > li:hover {
            background-color: mix(white, $clSecondary, 75%);
        }

        > input {
            font-weight: normal;
            background-color: $clGrey;
            margin-bottom: 0;
            padding: 10px 20px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        > li {
            padding: 10px 20px;
            cursor: pointer;
            white-space: nowrap;
            border-top: 1px solid $clGreyTint;

            &.divider {
                padding: 0;
                border-bottom: 1px solid #ccc;
            }

            a {
                display: block;
                margin: -10px -20px;
                padding: 10px 20px;
            }
        }
    }

    .bg__prl__new {
        position: sticky;
        width: 100%;
        padding: 10px;
        background-color: $clSecondary;
        color: white;
        border: 0;
        border-radius: 2px;
    }

    .bg__prl__filter-list {
        position: sticky;
        top: 0;
        width: 100%;
    }

    /*import & override the projectForm */
    @import 'projectForm';
    .bg__project-form {
        z-index:9999;
        width: 600px;
        padding: 10px;
        background-color: white;
        position:absolute;
        right:0;
        border: 1px solid $clGreyTint;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
        .actions {
            margin: 0;
            @import './buttons';
        }
        .new-project-container {
            display: flex;
            padding-top: 15px;
            flex-direction: column;
            .bg__new-project-wrapper {
                background-image: none;
                display: flex;
                flex-direction: row;
                textarea {
                    min-height: 60px;
                    font-weight: normal;
                }
                input {
                    font-weight: normal;
                }
                .label.project-modal-left {
                    flex-basis: 100px;
                    text-align: left;
                }
            }
        }
    }

}
