.bg__tool-header {
    width: 100%;
    margin: 45px 0 10px;
    border-bottom: 1px solid $clGreyTint;

    .bg__th__title {
        display: inline-block;
        margin: 0;
        padding: 10px 0 10px 38px;
        font-size: 1.5em;
        background-image: $iconRecipeUrl;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 27px;
    }

    // project info/selector
    & > .bg__th__project {
        float: right;
        margin-top: 5px;
    }
}
