@import '../styles/variables';

.bg__sort-table {

  table{
    margin: 0;
    padding:0;
    border: 0;
    border-collapse: collapse;
    min-width: 100%;

    input[type=checkbox]{
      margin-left: 10px;
    }

    thead{
      th{
        text-align: left;
        background-color: $clDark;
         border-bottom: 2px solid $clDark;
        padding: 10px 5px;
        padding-right: 15px;
        color: $clWhite;
        font-family: $fontHeading;
        font-size: 15px;
        font-weight: 400;

        &.sortable{
          cursor: pointer;
          &:hover{
            border-bottom: 2px solid $clDarkGrey;
          }

        }

        &.active{
          position: relative;
          padding-right: 15px;
          border-bottom: 2px solid $clSecondary;

          &:hover{
            border-bottom: 2px solid $clSecondary;
          }

          &:after{
            content: "";
            position: absolute;
            right: 5px;
            border-bottom: 7px solid $clWhite;
            border-left: 7px solid transparent;
            transform: rotate(45deg);
            margin-top: 5px;
          }

          &.desc:after{
            margin-top: 8px;
            transform: rotate(-135deg);
          }
        }
      }
    }


    tbody{
      &.loading{
        opacity: 0.3;
      }

      tr:nth-child(even) {
        background-color: $clGrey;
      }

      td{
        padding: 10px 5px;
        border-bottom: 1px solid $clGreyTint;
        max-width: 20%;
        max-width: 600px;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;

        &.primary{
          a{
            font-weight: 600;
            text-decoration: none;
            color: $clDark;
            &:hover{
              text-decoration: underline;
            }
          }
        }

        &.number{
          text-align: right;
          padding-right: 8px;
        }

        &.smaller{
          font-size: 0.8em;
          color: $clDarkGrey;
        }

        .btn{
          margin: 0;
          &.blank{
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }

      .bg__copy-to-clipboard {
        background-image: none;
        border-radius: 6px;
        box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
        padding: 0 6px 0 6px;
      }

      .bg__copyToClipboardMSN {
        bottom: 0;
        color: $clOrange;
        font-weight: bold;
        margin-top: 30px;
        position: relative;
        text-align: center;
      }

      .bg__searchTerm {
        margin-left: 10px;
      }
    }
  }
}